# Base de données PostgreSQL locale ou distante
DATABASE_URL=postgresql+pg8000://utilisateur:motdepasse@localhost:5432/nom_base

# Securite & CORS (Séparer les URLs par des virgules)
FRONTEND_URL=https://votre-dashboard-domaine.com
